/* ========== START NAVBAR CSS STYLE ========== */
#navbar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 60px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(5px);
    background-color: #111111c6;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.032);
  border-bottom: 1px solid #fd1a1a23; */
    z-index: 1000;
    transition: var(--transition);
}


#navbar .logo {
    font-size: 22px;
    font-weight: 600;
    color: var(--primary-color);
}

#navbar .menuToggle {
    display: none;
}

/* ------ start links ------ */
#navbar .mobileMenu {
    display: none;
}

#navbar .mobIco {
    display: none;
}


#navbar ul {
    position: absolute;
    width: calc(100% - 400px);
    left: 50%;
    transform: translateX(-50%);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    transition: var(--transition);
}

#navbar ul li {
    transition: var(--transition);
}

#navbar ul li a {
    font-size: 14px;
    transition: var(--transition);
    color: var(--font-color);
    padding-bottom: 4px;
    display: inline-block;
}

/* Fallback for browsers without scroll-driven animations support */
#navbar ul li a:is(:focus, :hover) {
    color: var(--primary-color);
}

/* #navbar ul li a.active {
    color: var(--primary-color);
} */

/* ------ end links ------ */


/* ========== END NAVBAR CSS STYLE ========== */