/* ========== START CONTACT SECTION ========== */
#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#contact h2 {
    font-size: 30px;
    margin-bottom: 5px;
}

#contact .subtitle {
    font-size: 14px;
    color: var(--font-secColor);
    margin-bottom: 40px;
}

#contact form {
    width: 100%;
    max-width: 800px;
}

#contact .formGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}

#contact .formGroup {
    display: flex;
    flex-direction: column;
}

#contact .formGroup.fullHeight {
    margin-top: 0;
}

#contact input,
#contact select,
#contact textarea {
    width: 100%;
    background-color: var(--background-component);
    border: 1px solid transparent;
    padding: 15px;
    border-radius: 5px;
    color: var(--font-color);
    font-size: 14px;
    font-family: var(--font-family);
    transition: var(--transition);
}

#contact textarea {
    resize: none;
    height: 150px;
    /* Taller height */
}

#contact input::placeholder,
#contact textarea::placeholder {
    color: #ffffff50;
}

#contact input:focus,
#contact select:focus,
#contact textarea:focus {
    border-color: #ffffff30;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* Button Container */
.formIoBtn {
    display: flex;
    justify-content: flex-end;
}

#contact .secondaryBtn {
    padding: 20px 40px;
    font-size: 16px;
}



/* ========== END CONTACT SECTION ========== */